ReviewMe/ReviewMe.Bal/bin/Debug/Microsoft.Web.Mvc.dll
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Bal.dll
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Bal.dll
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Bal.dll
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Bal.pdb
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Bal.pdb
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.DataAccess.pdb
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Common.dll
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Model.dll
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.ViewModel.dll
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Model.dll
ReviewMe/ReviewMe.Bal/obj/Debug/ReviewMe.Bal.csprojResolveAssemblyReference.cache
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.ViewModel.dll
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Model.dll
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Model.pdb
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.DataAccess.pdb
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Model.pdb
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.ViewModel.dll
ReviewMe/ReviewMe.Web/bin/ReviewMe.Web.dll.config
ReviewMe/ReviewMe.Web/Web.config
ReviewMe/ReviewMe.Web/obj/Debug/ReviewMe.Web.csprojResolveAssemblyReference.cache
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Bal.dll
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Bal.pdb
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.DataAccess.dll
ReviewMe/ReviewMe.DataAccess/bin/Debug/ReviewMe.DataAccess.pdb
ReviewMe/ReviewMe.Bal/bin/Debug.zip
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Bal.dll
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Bal.pdb
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.DataAccess.dll
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.DataAccess.pdb
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Model.dll
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.Model.pdb
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.ViewModel.dll
ReviewMe/ReviewMe.Bal/bin/Debug/ReviewMe.ViewModel.pdb
ReviewMe/ReviewMe.Bal/bin/Debug/System.Web.Mvc.dll
ReviewMe/ReviewMe.Bal/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReviewMe/ReviewMe.Bal/obj/Debug/ReviewMe.Bal.csproj.FileListAbsolute.txt
ReviewMe/ReviewMe.Bal/obj/Debug/ReviewMe.Bal.csprojResolveAssemblyReference.cache
ReviewMe/ReviewMe.Bal/obj/Debug/ReviewMe.Bal.dll
ReviewMe/ReviewMe.Bal/obj/Debug/ReviewMe.Bal.pdb
ReviewMe/ReviewMe.Common/bin/Debug/ReviewMe.Common.dll
ReviewMe/ReviewMe.Common/bin/Debug/ReviewMe.Common.pdb
ReviewMe/ReviewMe.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReviewMe/ReviewMe.Common/obj/Debug/ReviewMe.Common.csproj.FileListAbsolute.txt
ReviewMe/ReviewMe.Common/obj/Debug/ReviewMe.Common.csprojResolveAssemblyReference.cache
ReviewMe/ReviewMe.Common/obj/Debug/ReviewMe.Common.dll
ReviewMe/ReviewMe.Common/obj/Debug/ReviewMe.Common.pdb
ReviewMe/ReviewMe.DataAccess/bin/Debug/ReviewMe.DataAccess.dll
ReviewMe/ReviewMe.DataAccess/bin/Debug/ReviewMe.DataAccess.pdb
ReviewMe/ReviewMe.DataAccess/bin/Debug/ReviewMe.Model.dll
ReviewMe/ReviewMe.DataAccess/bin/Debug/ReviewMe.Model.pdb
ReviewMe/ReviewMe.DataAccess/Migrations/201503041103119_addDesription.cs
ReviewMe/ReviewMe.DataAccess/Migrations/201503041103119_addDesription.Designer.cs
ReviewMe/ReviewMe.DataAccess/Migrations/201503041103119_addDesription.resx
ReviewMe/ReviewMe.DataAccess/Migrations/Configuration.cs
ReviewMe/ReviewMe.DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReviewMe/ReviewMe.DataAccess/obj/Debug/ReviewMe.DataAccess.csproj.FileListAbsolute.txt
ReviewMe/ReviewMe.DataAccess/obj/Debug/ReviewMe.DataAccess.csproj.GenerateResource.Cache
ReviewMe/ReviewMe.DataAccess/obj/Debug/ReviewMe.DataAccess.csprojResolveAssemblyReference.cache
ReviewMe/ReviewMe.DataAccess/obj/Debug/ReviewMe.DataAccess.dll
ReviewMe/ReviewMe.DataAccess/obj/Debug/ReviewMe.DataAccess.Migrations.addDesription.resources
ReviewMe/ReviewMe.DataAccess/obj/Debug/ReviewMe.DataAccess.pdb
ReviewMe/ReviewMe.Model/bin/Debug/ReviewMe.Model.dll
ReviewMe/ReviewMe.Model/bin/Debug/ReviewMe.Model.pdb
ReviewMe/ReviewMe.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReviewMe/ReviewMe.Model/obj/Debug/ReviewMe.Model.csproj.FileListAbsolute.txt
ReviewMe/ReviewMe.Model/obj/Debug/ReviewMe.Model.csprojResolveAssemblyReference.cache
ReviewMe/ReviewMe.Model/obj/Debug/ReviewMe.Model.dll
ReviewMe/ReviewMe.Model/obj/Debug/ReviewMe.Model.pdb
ReviewMe/ReviewMe.ViewModel/bin/Debug/Microsoft.Web.Mvc.dll
ReviewMe/ReviewMe.ViewModel/bin/Debug/ReviewMe.Common.dll
ReviewMe/ReviewMe.ViewModel/bin/Debug/ReviewMe.ViewModel.dll
ReviewMe/ReviewMe.ViewModel/bin/Debug/ReviewMe.ViewModel.pdb
ReviewMe/ReviewMe.ViewModel/bin/Debug/System.Web.Mvc.dll
ReviewMe/ReviewMe.ViewModel/bin/Debug/System.Web.Mvc.xml
ReviewMe/ReviewMe.ViewModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReviewMe/ReviewMe.ViewModel/obj/Debug/ReviewMe.ViewModel.csproj.FileListAbsolute.txt
ReviewMe/ReviewMe.ViewModel/obj/Debug/ReviewMe.ViewModel.csprojResolveAssemblyReference.cache
ReviewMe/ReviewMe.ViewModel/obj/Debug/ReviewMe.ViewModel.dll
ReviewMe/ReviewMe.ViewModel/obj/Debug/ReviewMe.ViewModel.pdb
ReviewMe/ReviewMe.ViewModel/ReviewMe.ViewModel.csproj.user
ReviewMe/ReviewMe.Web.v12.suo
ReviewMe/ReviewMe.Web/Attributes/ReviewMeAuthorizeAttribute.cs
ReviewMe/ReviewMe.Web/bin/Microsoft.DataAnnotations.dll
ReviewMe/ReviewMe.Web/bin/ReviewMe.Bal.dll
ReviewMe/ReviewMe.Web/bin/ReviewMe.Bal.pdb
ReviewMe/ReviewMe.Web/bin/ReviewMe.Common.dll
ReviewMe/ReviewMe.Web/bin/ReviewMe.Common.pdb
ReviewMe/ReviewMe.Web/bin/ReviewMe.DataAccess.dll
ReviewMe/ReviewMe.Web/bin/ReviewMe.DataAccess.pdb
ReviewMe/ReviewMe.Web/bin/ReviewMe.Model.dll
ReviewMe/ReviewMe.Web/bin/ReviewMe.Model.pdb
ReviewMe/ReviewMe.Web/bin/ReviewMe.ViewModel.dll
ReviewMe/ReviewMe.Web/bin/ReviewMe.ViewModel.pdb
ReviewMe/ReviewMe.Web/bin/ReviewMe.Web.dll
ReviewMe/ReviewMe.Web/bin/ReviewMe.Web.dll.config
ReviewMe/ReviewMe.Web/bin/ReviewMe.Web.pdb
ReviewMe/ReviewMe.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReviewMe/ReviewMe.Web/obj/Debug/ReviewMe.Web.csproj.FileListAbsolute.txt
ReviewMe/ReviewMe.Web/obj/Debug/ReviewMe.Web.csprojResolveAssemblyReference.cache
ReviewMe/ReviewMe.Web/obj/Debug/ReviewMe.Web.dll
ReviewMe/ReviewMe.Web/obj/Debug/ReviewMe.Web.pdb
ReviewMe/ReviewMe.Web/ReviewMe.Web.csproj.user
