@model ReviewMe.Web.Models.ForgotPasswordViewModel
@{
    Layout = null;
}
<div class="header">
    <div class="signin-text">
        <span>Password reset</span>
        <div class="close">×</div>
    </div>
</div> 

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {role = "form", id = "password-reset-form_id"}))
{
    <div style="color: red">
        @if (HttpContext.Current.Session["LOGIN_FAILED"] != null)
        {
            @Session["LOGIN_FAILED"].ToString()
            Session["LOGIN_FAILED"] = null;
        }
    </div>
    @Html.AntiForgeryToken()
    <div class="form-group w-icon">
        @Html.TextBoxFor(m => m.Email, new {@class = "form-control input-lg", @placeholder = "Enter your email"})
        @Html.ValidationMessageFor(m => m.Email)
        <span class="fa fa-envelope signin-form-icon"></span>
    </div>

    <div class="form-actions">
        <input type="submit" class="signin-btn btn-block bg-primary" value="SEND PASSWORD RESET LINK" />
    </div>
}