@using ReviewMe.Common.Extensions
@using ReviewMe.ViewModel
@using ReviewMe.Web.Controllers
@model ReviewMe.ViewModel.UserViewModelLong

@{
    ViewBag.Title = "User-Management";
    Layout = "../Shared/_Layout.cshtml";
}

<script src="~/Scripts/Custom/User.js"></script>

<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here: </div>
    <li><a href="@(Url.ActionLink<HomeController>(controller => controller.Index()))">Home</a></li>
    <li class="active"><a href="#">User</a></li>
</ul>

<div class="page-header">
    <div class="row">
        <!-- Page header, center on small screens -->
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th"></i>&nbsp;&nbsp;User Management</h1>

        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <hr class="visible-xs no-grid-gutter-h">
                <!-- "Create project" button, width=auto on desktops -->
                <div class="pull-right col-xs-12 col-sm-auto">
                    <button type="button" class="btn btn-primary btn-labeled" id="AddUser">
                        <span class="btn-label icon fa fa-plus"></span> Create User
                    </button>
                </div>
                <!-- Margin -->
                <div class="visible-xs clearfix form-group-margin"></div>

                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#Search').on('click', function () {
                            var strSearch = $('#strSearch').val();
                            // Commeneted by : Ramchandra Rane,19th Jun 2015

                            //if (strSearch == "") {
                            //    location.reload();
                            //}
                            //else                             
                            $.ajax({
                                url: "/User/Search",
                                type: "GET",
                                data: { 'strSearch': strSearch },
                                success: function (data) {
                                    debugger;
                                    $('#lstuser').html(data);
                                    $('#strSearch').val("");
                                },
                                error: function (response) {
                                    debugger;
                                }
                            });
                        });
                        $("#strSearch").keypress(function (event) {
                            debugger;
                            if (event.keyCode == 13) {
                                $("#Search").click();
                                return false;
                            }
                        });
                    });
                </script>

                <!-- Search field -->
                <form class="pull-right col-xs-12 col-sm-6">
                    <div class="input-group no-margin">
                        <span class="input-group-addon" style="border:none;background: #fff;background: rgba(0,0,0,.05);">
                            <i class="fa fa-search"></i>
                        </span>
                        <input type="text" placeholder="Search.." id="strSearch" class="form-control no-padding-hr" style="border:none;background: #fff;background: rgba(0,0,0,.05);">
                        <div class="input-group-btn">
                            <button name="search_b" id="Search" class="btn btn-primary btn-labeled" type="button">Search</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div id="lstuser">
    @Html.Partial("Search", Model)
</div>
<div id="userAddDetails" class="modal  fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="userAddEditModalBody">
        </div>
    </div>
</div>