@using ReviewMe.Common.Extensions
@using ReviewMe.ViewModel
@using ReviewMe.Web.Controllers
@*@model ReviewMe.ViewModel.ReviewDetailsViewModel*@

@{
    ViewBag.Title = "ReviewDetails";
    Layout = "../Shared/_Layout.cshtml";
}
<input id="RevieweeId" type="hidden" value='@ViewBag.RevieweeId' />
<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.js"></script>
<script src="~/Scripts/ellipsisJs.js"></script>
<script src="~/Scripts/Custom/ReviewDetails.js"></script>

<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here: </div>
    <li><a href="#">Home</a></li>
    <li class="active"><a href="#">My Reviewees</a></li>
</ul>

<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-random page-header-icon"></i> @ViewBag.RevieweeName's Review</h1>
    </div>
</div>

<div id='calendar'>

</div>

<div id="userAddReviewDetails" class="modal  fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="userAddEditModalBody">
        </div>
    </div>
</div>

<script type="text/javascript">
    var deletedItem = null;
    //DON'T MOVE THIS CODE IN JS FILE,VIEWBAG VAlUE CAN'T ACCESS IN JS FILE.
    $('#calendar').fullCalendar({
        defaultView: 'month',
        editable: true,
        selectable: true,
        //defaultDate: moment('2014-02-01'),
        //header and other values
        select: function (start, end, allDay) {
            var endtime = end;
            var starttime = start;
            var mywhen = starttime + ' - ' + endtime;
            $('#createEventModal #apptStartTime').val(start);
            $('#createEventModal #apptEndTime').val(end);
            $('#createEventModal #apptAllDay').val(allDay);
            $('#createEventModal #when').text(mywhen);
        },
        dayClick: function () {          
            var revieweeDate = new Date($(this).attr('data-date'));         
          
            if (revieweeDate > todayDate && revieweeDate != todayDate)
            {
                notif({
                    msg: "<b> You can not add review of feature date.",
                    type: "error"
                });
            }
            else
            {
                $('#userAddReviewDetails').modal({
                    backdrop: 'static',
                    keyboard: false
                });

                deletedItem = $(this);
                var id = $(this).find('div').attr('id');

                if (id == undefined) {
                    id = 0;
                }
                $.ajax({
                    url: "/ReviewMap/AddEditReviewDetails",
                    type: "GET",
                    data: { 'revieweeDate': $(this).attr('data-date'), 'revieweeId': $('#RevieweeId').val(), 'id': id },
                    success: function (data) {
                        $('#userAddEditModalBody').empty();
                        $('#userAddEditModalBody').append(data);
                    },
                    error: function (data) {

                    }
                });
            }
            
           
        }
    });  

    //Added By : Ramchandra rane
    function clearDeletedItemText()
    {     
        deletedItem.text("");      
    }

</script>