@{
    ViewBag.Title = "FullCalendar";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Custom/Review.js"></script>

<link href='~/CSS/fullcalendar.css' rel='stylesheet' />
<link href='~/CSS/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='~/Scripts/moment.min.js'></script>
<script src='~/Scripts/jquery.min.js'></script>
<script src='~/Scripts/fullcalendar.min.js'></script>

<style>
    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
</style>

<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            defaultDate: '2015-02-12',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
				{
				    title: 'All Day Event',
				    start: '2015-02-01'
				},
				{
				    title: 'Long Event',
				    start: '2015-02-07',
				    end: '2015-02-10'
				},
				{
				    id: 999,
				    title: 'Repeating Event',
				    start: '2015-02-09T16:00:00'
				},
				{
				    id: 999,
				    title: 'Repeating Event',
				    start: '2015-02-16T16:00:00'
				},
				{
				    title: 'Conference',
				    start: '2015-02-11',
				    end: '2015-02-13'
				},
				{
				    title: 'Meeting',
				    start: '2015-02-12T10:30:00',
				    end: '2015-02-12T12:30:00'
				},
				{
				    title: 'Lunch',
				    start: '2015-02-12T12:00:00'
				},
				{
				    title: 'Meeting',
				    start: '2015-02-12T14:30:00'
				},
				{
				    title: 'Happy Hour',
				    start: '2015-02-12T17:30:00'
				},
				{
				    title: 'Dinner',
				    start: '2015-02-12T20:00:00'
				},
				{
				    title: 'Birthday Party',
				    start: '2015-02-13T07:00:00'
				},
				{
				    title: 'Click for Google',
				    url: 'http://google.com/',
				    start: '2015-02-28'
				}
            ]
        });
    });

</script>

<h2>FullCalendar</h2>

<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here: </div>
    <li>@*<a href="@(Url.ActionLink<HomeController>(controller => controller.Index()))">Home</a>*@</li>
    <li class="active"><a href="#">Reviews</a></li>
</ul>
<div class="page-header">
    Full Calender

    <div id='calendar'></div>

</div> 